body {
    background-color: lightblue;
    background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

h1 {
    color: rgb(100, 248, 70);
    color: rgb(255, 255, 255);
    margine-left: 20px;
}

p {
    color: rgb(255, 255, 255)
    
}
p {
    font-style: italic;
}