body {
    background-image: url("https://www.taguig.gov.ph/assets/images/infrastructure/img_1.1.jpg");
}
 
h1 {
    color: rgb(120, 153, 0);
    margine-left: 20px;
}

p {
    color: rgb(255, 255, 255)
    
}
p {
    font-style: italic;
}