body {
    background-image: url("https://www.taguig.gov.ph/assets/images/infrastructure/img_1.1.jpg");
    background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
}
 
h1 {
    color: rgb(255, 227, 69);
    margine-left: 20px;
}

p {
    color: rgb(255, 255, 255)
    
}
p {
    font-style: italic;
}