body {
    background-color: lightblue;
}

h1 {
    color: rgb(100, 248, 70);
    color: rgb(255, 6, 6);
    margine-left: 20px;
}

p {
    color: rgb(255, 255, 255)
    
}
p {
    font-style: italic;
}